* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(255, 0, 0);
    background: linear-gradient(121deg, rgba(255, 0, 0, 1) 17%, rgba(255, 149, 0, 1) 78%, rgba(255, 201, 0, 1) 100%);
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Manrope', sans-serif;
}

.container-questions {
    width: 600px;
    height: auto;
    background-color: rgba(208, 208, 255, 0.486);
    font-weight: bold;
    border-radius: 8px 60px 8px 60px;
}

header {
    font-size: 2rem;
    margin: 1.5rem;
}

hr {
    border-color: rgba(51, 51, 51, 0.075);
}

.form-questions {
    margin: 2rem;
    font-size: 1.5rem;
}

.form-questions p {
    margin-bottom: 10px;
}

.alternatives li {
    list-style: none;
    margin: 1.875 0;
}


.alternatives li label {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    padding: 15px;
    background-color: #ffff;
    margin-bottom: 5px;
    cursor: pointer;
    position: relative;
    font-size: 20px;
    max-width: 100%;
    border-radius: 8px;
}

.alternatives input[type='radio'] {
    display: none;
}

.alternatives input[type='radio']:checked + label {
    border: 1px solid black;
}

.numQuestao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.8rem;
}

.numQuestao section {
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 500;
}

.numQuestao section div {
    background-color: #3333;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.numQuestao button {
    background-color: green;
    color: white;
    border: 0;
    width: 80px;
    height: 32px;
}

