* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(255, 0, 0);
    background: linear-gradient(121deg, rgba(255, 0, 0, 1) 17%, rgba(255, 149, 0, 1) 78%, rgba(255, 201, 0, 1) 100%);
    font-family: 'Roboto', sans-serif;
}

.titulo-home {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
    color: #fff;
}

.titulo-home img {
    width: 120px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

nav li {
    list-style: none;
    font-weight: bold;
}

nav li a {
    flex: 1;
    text-decoration: none;
    color: #fff;
}

nav li a:hover {
    text-decoration: underline;
}

.container-conteudo {
    background: hsla(0, 16%, 89%, 0.443);
    margin: 2rem auto;
    max-width: 1200px;
    padding: 2rem;
    border-radius: 8px;
}

h1 {
    padding: 0.75rem 0;
}

p {
    padding: 0.650rem;
    text-align: justify;
}

.container-list {
    margin-left: 2rem;
}

.container-img {
    flex: 1 1 100px;
    max-width: 600px;
}

.container-img img {
    width: 100%;
}

figure {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1rem 0;
}

figcaption {
    color: #171717bc;
}

.go-form {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    font-size: 1.25rem;
}

.go-form button {
    background-color: rgb(255, 25, 25);
    padding: 0.650rem;
    text-decoration: none;
    color: #fff;
    border-radius: 8px;
    border: 0;
    font-weight: bold;
    cursor: pointer;
}